* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: #000000;
  background: linear-gradient(
    to bottom,
    #333333,
    #292929,
    #1f1f1f,
    #151515,
    #0b0b0b
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
  margin: 0;
  padding: 0;
}

/* HEADER SECCTION */
.header {
  background-color: #9f111b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: header;
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 25px;
}

.header__open-nav-button {
  position: absolute;
  right: 10px;
}

.header__checkbox {
  display: none;
}

.header__nav {
  display: none;
  background-image: -webkit-linear-gradient(#333, #222);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
  display: flex;
  z-index: 2;
}

.header__logo-container,
.header__open-nav-button {
  z-index: 3;
}

.header__logo-button:checked {
  background-image: -webkit-linear-gradient(#333, #222);
}

.header__logo {
  max-width: 100%;
  width: 64px;
  margin: 10px 20px;
}

.header__logo-container:hover {
  transform: scale(1.4);
}

.header__nav-item {
  list-style: none;
}

.header__nav-item a {
  color: #fff;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 30px;
}

.header__nav-item a:hover {
  text-decoration: underline;
  color: #c34f;
}

/* ------HEADER ENDS------ */

/* ------PROFILE SECCTION------ */

.profile {
  container-name: profile;
  container-type: inline-size;
}

.profile__wrapper {
  background-image: -webkit-linear-gradient(#333, #222);
  border-radius: 0px 0px 15px 15px;
  box-shadow: 0 0 15px 0 #9f111b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  padding: 30px;
  color: #fff;
}

.space {
  height: 8dvh;
  padding: 24px;
}

.profile__data-container {
  max-width: 600px;
  padding: 12px;
}

.profile__img-container {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  border: solid 10px #9f111b;
  margin: 25px 15px;
}

.img__profile {
  z-index: 20;
}

.profile__img {
  /* Esta funcion sirve para hacer que 
  mi imagen se recorte desde el centro */
  clip-path: circle(50%);
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.profile__name,
.profile__social {
  color: #9f111b;
}

.blue {
  color: #48e;
}

.morado {
  color: #87e;
}

.profile__social {
  text-align: basline;
  margin-right: 20px;
}

.resum {
  font-size: 23px;
  text-align: justify;
}

.contact img {
  width: 2.5rem;
  height: 2.5rem;
}

.contact img:hover {
  transform: scale(1.5);
}

.profile__contacts {
  list-style: none;
  display: flex;
  order: 3;
  justify-content: space-evenly;
  margin-right: 20px;
}

.wrapper1 {
  display: flex;
  height: 3dvh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 9rem;
  margin-bottom: 12px;
}

.btna {
  padding: 12px 14px;
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  letter-spacing: 3px;
  position: absolute;
}

.btn-3 a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}

.btn-3 {
  font-size: 15px;
  border: 2px solid #fff;
  overflow: hidden;
  z-index: 2;
}

.btn-3::before {
  content: "";
  background-color: #9f111b;
  display: block;
  width: 140%;
  height: 200%;
  position: absolute;
  z-index: -1;
  transition: top 0.6s, left 0.6s;
  border-radius: 50%;
  top: 100%;
  left: 30%;
}

.btn-3:hover::before {
  top: -35%;
  left: -20%;
}

/* ------PROFILE ENDS------ */

/* ------PORTAFOLIO SECCTION------ */
.portfolio {
  margin-top: 20px;
  background: url("img/Posible-imagen-para-portfolio.jpg") bottom / cover
    no-repeat;
  color: #ffff;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
  container-name: portfolio;
  container-type: inline-size;
  justify-content: space-evenly;
}

.portfolio__title {
  font-size: 4rem;
  margin-bottom: 0;
}

.portfolio__project-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1300px;
  margin: auto;
  width: 100%;
  gap: 10px;
  padding: 12px;
  min-height: 80dvh;
}

.portfolio__project {
  background-image: url("img/imagen.tetris.png");
  background-position: center;
  background-size: cover;
  display: grid;
  place-content: center;
  border-radius: 8px;
}

.portfolio__project:hover {
  opacity: 0.98;
  outline: 2px solid #fff6;
}























/* --------HEADER QUERIST ----------*/
@container header (min-width:800px) {
  .header__nav {
    display: inline-block;
    position: static;
    height: auto;
    width: auto;
    justify-content: space-evenly;
    z-index: 3;
    background-image: initial;
  }

  .header__nav-list {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 32px;
    margin-right: 40px;
  }

  .header__nav-item a {
    color: #000000;
    font-size: 24px;
  }

  .header__nav-item a:hover {
    color: #ffff;
    text-decoration: none;
  }

  .header__open-nav-button {
    display: none;
  }
}
/*---------HEADER QUERIST ENDS---------  */

/*---------Profile Querist---------  */
@container profile (min-width:56.25rem) {
  .profile__wrapper {
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 73dvw;
    height: 70dvh;
    flex-direction: row;
    background-image: -webkit-linear-gradient(#333, #222);
    border-radius: 25px;
    box-shadow: 0 0 15px 0 #9f111b;
    padding: 40px;
  }

  .profile__contact-container {
    justify-content: space-evenly;
    margin-left: 40px;
  }

  h1 {
    margin-top: 0;
    font-size: 3rem;
    text-wrap: balance;
  }

  .profile__data {
    max-width: 600px;
  }

  .resum{
    font-size: 25px;
  }
  
}

/*---------Profile Querist ENDS---------  */

/*---------PORTFOLIO QUERIST-----------  */
@container portfolio (min-width: 56.25rem) {
  .portfolio__project-container {
    grid-template-columns: repeat(auto-fill,
     minmax(400px, 1fr));
  }

  .portfolio__project:first-child {
    grid-column: span 2;
  }

  .portfolio__project:nth-child(6) {
    grid-column: span 2;
  }
}

@container portfolio (min-width: 75rem) {
  .portfolio__project-container {
    grid-template-columns: repeat(auto-fill,
     minmax(300px, 1fr));
  }

  .portfolio__project:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  .portfolio__project:nth-child(6) {
    grid-column: span 4;
  }
}

@container portfolio (min-width: 81.25rem) {
  .portfolio__project-container {
    grid-template-columns: repeat(auto-fill,
     minmax(300px, 1fr));
  }

  .portfolio__project:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }

  .portfolio__project:nth-child(6) {
    grid-column: span 4;
  }
}