* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  color: #000000;
}

body,
div,
ul,
nav,
header,
footer,
a,
li,
label {
  margin: 0;
  padding: 0;
}

/* HEADER SECCTION */
.header {
  background-color: #9f111b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: header;
  position: relative;
  z-index: 10;
  text-align: center;
  font-size: 25px;
}

.header__open-nav-button {
  position: absolute;
  right: 10px;
}


.header__checkbox {
  display: none;
}

.header__nav {
  display: none;
  background-image: -webkit-linear-gradient(#333, #222);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
  display: flex;
  z-index: 2;
}

.header__logo-container,
.header__open-nav-button {
  z-index: 3;
}

.header__logo-button:checked{
  background-image:-webkit-linear-gradient(#333, #222);
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}

.header__logo-container:hover{
    transform: scale(1.4);
}

.header__nav-item{
    list-style: none;
}

.header__nav-item a{
    color: #fff;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 30px;
}

.header__nav-item a:hover{
    text-decoration: underline;
    color: #c34f;
}



/* ------PROFILE SECCTION------ */

.profile{
  container-name: profile;
  container-type:inline-size;
  background-image: url("img/Posible-imagen-para-portfolio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
  color: #fff;
}

.profile__data-container{
  max-width: 600px;
  padding: 12px; 
}


.profile__img-container{
  height: 270px;
  width: 270px;
  border-radius: 50%;
  border: solid 10px #9f111b ;
  margin: 25px 15px;
}

.img__profile{
  z-index: 20;
}

.profile__img{
  overflow: hidden;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}





































































































/* HEADER QUERIST */
@container header (min-width:600px){
    .header__nav{
        display: inline-block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-evenly;
        z-index: 3;
        background-image:initial;
    }

    .header__nav-list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap:25px;
        margin-right: 40px;
    }
    
    .header__nav-item a{
      color: #000000;
    }
    
    .header__nav-item a:hover{
      color: #ffff;
    }
    
    .header__open-nav-button{
      display: none;
    }
  }